* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #121212;
    color: white;
    font-family: system-ui, sans-serif;
}


header ul {
    list-style: none;
    background-color: #4B4038;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 1rem 2rem;
}

header li a {
    text-decoration: none;
    color: white;

    display: block;
    padding: 10px;
    border-radius: 10px;
}

header li a:hover {
    background-color: #6a5a4f;
}



main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    max-width: 600px;
    width: 90%;

    margin: 3rem auto;
    padding: 2rem;

    background-color: #6a5a4f;
    border-radius: 10px;
}

main div p {
    margin-bottom: 1rem;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}



.text {
    max-width: 600px;
    width: 90%;

    margin: 3rem auto;
    padding: 2rem;

    background-color: #6a5a4f;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}



@media (max-width: 600px) {

    header ul {
        flex-direction: column;
        gap: 0.5rem;
    }

    header li {
        width: 100%;
        text-align: center;
    }

    header li a {
        width: 100%;
    }

    main {
        flex-direction: column;
        text-align: center;
    }

    main div p {
        margin-right: 0;
    }

    img {
        width: 100%;
        max-width: 250px;
    }

    .text {
        text-align: center;
    }
}