* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #121212;
    color: white;
    font-family: system-ui, sans-serif;
}


header ul {
    list-style: none;
    background-color: #4B4038;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 1rem 2rem;
}

header li a {
    text-decoration: none;
    color: white;

    display: block;
    padding: 10px;
    border-radius: 10px;
}

header li a:hover {
    background-color: #6a5a4f;
}

.text {
    display: flex;
    width: 75%;
    margin: 5rem auto;
    padding: 2rem;
    background-color: #6a5a4f;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}

.games {
    display: flex;
    width: 100%;
    margin: 5rem 0 auto;
    padding: 2rem;
    background-color: #6a5a4f;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-direction: column;    
}


table {
    border-collapse: collapse;
    width: 100%;
}

th {
    border-bottom: 1px solid #ddd;
    padding-bottom: 1rem;
}

td {
    border-bottom: 1px solid #ddd;
}

th, td {
    text-align: center;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

@media (max-width: 600px) {
    header ul {
        flex-direction: column;
        gap: 0.5rem;
    }

    header li {
        text-align: center;
    }

    header li a {
        width: 100%;
    }
}


